@import '../globals';

.o-dayShift {
	display: grid;
	grid-template-areas:
		'hud     hud         '
		'tasks   characters  ';
	grid-template-columns: 3fr $card-size;
	align-items: center;
	gap: 1rem;

	&__tasks {
		grid-area: tasks;
	}
	
	&__characters {
		grid-area: characters;
	}
	
	&__hud {
		grid-area: hud;
	}
}

