@import '../globals';

.o-nightShift {
	display: grid;
	grid-template-columns: min-content 1fr $card-size;
	grid-template-rows:
		1fr
		1fr;
	grid-template-areas:
		'.     moves   characters  '
		'drop  moves   characters  ';
	gap: 1rem;
	min-height: calc(100vh - 24px);

	&__drop {
		grid-area: drop;
		align-self: end;
	}

	&__moves {
		grid-area: moves;
	}

	&__characters {
		grid-area: characters;
		display: flex;
	}
}