@import '../globals';

.o-nightShift {
	display: grid;
	grid-template-areas:
		'.           .           drop        moves      '
		'lust        sexergy     sexergy     moves      '
		'interact    interact    interact   moves      ';
	grid-template-columns:
		4fr
		1fr
		min-content
		20rem;
	grid-template-rows:
		1fr
		4rem
		16rem;
	gap: 1rem;

	&__drop {
		grid-area: drop;
		align-self: end;
	}

	&__interact {
		grid-area: interact;
		display: flex;
	}

	&__moves {
		position: relative;
		grid-area: moves;
		justify-self: end;
		width: 100%;
		overflow-y: scroll;
		max-height: 80vh;

		&__title {
			text-transform: uppercase;
			color: hotpink;
		}

		&__scroll {
			position: absolute;
			left: 0;
			top: 0;
			width: calc(100% - 1rem);
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}
	}

	&__characters {
		grid-area: characters;
		display: flex;
		flex-direction: row;
	}

	@mixin stat-bar($display: flex) {
		padding: 0.4rem 0.8rem;
		border: 0.2rem solid gray;
		border-radius: 0.4rem;
		color: hotpink;
	}

	&__lust {
		grid-area: lust;
		@include stat-bar();
	}

	&__sexergy {
		grid-area: sexergy;
		display: flex;
		align-items: center;
		gap: 1rem;
		@include stat-bar();
		justify-content: space-between;

		&__title {
			text-transform: uppercase;
			color: gray;
		}
	}

	&__selected {
		grid-area: selected;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 1rem;
		width: 100%;
	}
}