.o-card {
	display: grid;
	grid-template-areas:
		'title    '
		'effects  ';
	min-width: 240px;
	min-height: 320px;
	padding: 12px;
	border: 2px solid goldenrod;
	border-radius: 12px;
}

.o-card.-empty {
	border: 2px dashed gray;
}

.o-card__title {
	grid-area: title;
	text-align: center;
}

.o-card__effects {
	grid-area: effects;
}