.o-card {
	display: grid;
	grid-template-areas:
		'title    '
		'effects  ';
	grid-template-rows:
		min-content
		1fr;
	gap: 12px;
	max-width: 180px;
	min-height: 240px;
	aspect-ratio: 240/320;
	padding: 12px;
	border: 2px solid goldenrod;
	border-radius: 12px;
	cursor: move;
}

.o-card.-empty {
	border: 2px dashed gray;
	cursor: initial;
}

.o-card.-active {
	border: 2px solid green;
}

.o-card.-denied {
	border: 2px solid red;
}

.o-card__title {
	grid-area: title;
	text-align: center;
}

.o-card__effects {
	grid-area: effects;
	list-style: none;
	margin: 0;
	padding: 0;
}