.m-carousel {
	display: grid;
	grid-template-columns: repeat(10, 1.5rem);
	gap: 0.4rem;

	&__item {
		box-sizing: border-box;
		width: 1.5rem;
		height: 1.5rem;

		&.-success {
			background: lightgreen;
		}

		&.-fail {
			background: lightcoral;
		}

		&.-critical_success {
			background: green;
		}

		&.-critical_fail {
			background: red;
		}

		&.-selected {
			border: 0.3rem solid indigo;
		}
	}
}