@import '../globals';

.o-character {
	min-width: $card-size;
	aspect-ratio: 240/320;
	display: grid;
	justify-items: center;
	gap: 0.5rem;
	padding: 1rem;
	border: 0.1rem solid gray;
	border-radius: 0.5rem;

	&.-empty {
		display: flex;
		align-items: center;
		border: 0.1rem dashed gray;
		cursor: initial;
	}
	
	&.-active {
		border: 0.1rem solid lawngreen;
		background: lightgreen;
	}

	&.-draggable {
		cursor: grabbing;
	}

	&__title {
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		color: gray;
	}
}

.m-stats {
	display: grid;
	grid-template-columns:
		1fr 1fr;
	column-gap: 0.2rem;
	width: 100%;
}