.a-dice {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 4rem;
	aspect-ratio: 1 / 1;
	border: 0.2rem solid black;
	border-radius: 25%;
	background: white;
	font-size: 2rem;
	font-weight: bold;

	&.-task {
		color: gray;
		border-color: gray;
	}

	&.-empty {
		border-style: dashed;
		border-color: gray;
	}

	&.-drop {
		width: 6rem;
	}

	&.-active {
		border-style: solid;
		border-color: green;
	}

	&.-denied {
		border-style: solid;
		border-color: red;
	}

	[disabled] & {
		background: none;
		border-style: solid;
		border-color: darkgray;
	}
}