.a-dice {
	$clr-300: hsl(55, 80%, 30%);
	$clr-500: hsl(55, 80%, 50%);
	$clr-800: hsl(55, 80%, 80%);

	display: flex;
	justify-content: center;
	align-items: center;
	width: 4rem;
	aspect-ratio: 1 / 1;
	background: hsl(55, 80%, 80%);
	color: hsl(55, 80%, 30%);
	border: 0.2rem solid currentColor;
	border-radius: 25%;
	
	font-size: 2rem;
	font-weight: bold;
	transition-property: margin, transform;
	transition-duration: 0.5s;

	&[draggable="true"] {
		&:hover {
			margin: 0 1rem;
			transform: scale(1.5, 1.5);
			cursor: grab;
		}
	}

	&.-task {
		color: hsl(55, 80%, 40%);
		background: hsl(55, 80%, 100%);
	}

	&.-empty {
		background: transparent;
		border-style: dashed;
	}

	&.-drop {
		width: 6rem;
	}

	&.-active {
		background: rgba(green, 30%);
		color: green;
		border-style: solid;
	}

	&.-denied {
		background: rgba(red, 30%);
		color: red;
		border-style: solid;
	}

	[disabled] & {
		color: darkgray;
		background: none;
		border-style: solid;
	}
}