.o-lustBar {
	--color: hotpink;
	--lust-width: 0%;
	--overload-width: 0%;

	display: grid;
	grid-template-columns:
		1fr
		4fr
		5rem;
	justify-items: center;
	align-items: center;
	gap: 1rem;
	color: var(--color);

	&.-captain {
		--color: blue;
	}

	&__title {
		text-transform: uppercase;
		justify-self: end;
	}

	&__bar {
		position: relative;
		width: 100%;
		height: 100%;
		border: 0.2rem solid var(--color);
		border-radius: 2rem;
	
		&__foreground {
			transition: width 1s;
			position: absolute;
			left: 0.2rem;
			top: 0.2rem;
			width: calc(var(--lust-width) - 0.4rem);
			height: calc(100% - 0.4rem);
			border-radius: 2rem;
			background: var(--color);

			&.-overload {
				width: calc(var(--overload-width) - 0.4rem);
				background: gold;
			}
		}
	}

	&__amount {
		transition: color 1s;
		padding: 0 0.6rem;
		border-radius: 1rem;

		.-overload & {
			background: gold;
		}
	}
}