.m-nightPlayArea {
	display: grid;
	grid-template-areas:
		'drop        '
		'characters  ';
	grid-template-rows:
		1fr
		15rem;

	&.-playing {
		display: flex;
	}

	&__log {
		grid-area: log;
	}

	&__drop {
		grid-area: drop;
		align-self: center;
		display: flex;
		place-content: center;

		> * {
			max-width: 12rem;
		}
	}

	&__characters {
		grid-area: characters;
		place-self: center;
		display: flex;
		flex-direction: row;
		min-height: 16rem;
	}
}