@import '../globals';

.m-sexMove {
	position: relative;
	display: grid;
	grid-template-areas:
		'title         '
		'type          '
		'effects       '
		'requirements  ';
	grid-template-rows:
		min-content
		min-content
		1fr
		min-content;
	gap: 1rem;
	border: 0.2rem solid hotpink;
	border-radius: 0.4rem;
	padding: 0.4rem;
	color: hotpink;
	transition: background-color 0.4s;

	&:hover {
		cursor: pointer;
		background: pink;
	}

	&--empty {
		display: flex;
		border-style: dashed;
		justify-content: center;
		align-items: center;
		color: pink;
		border-color: pink;

		&:hover {
			background: initial;
		}
	}

	&--match {
		border-color: gold;
	}

	&--disabled {
		pointer-events: none;
		color: darkgray;
		background: lightgray;
		border-color: darkgray;
	}

	&--redraw {
		color: blueviolet;
		background: transparent;
		border-color: blueviolet;

		&:hover {
			background: rgba(blueviolet, 20%);
		}
	}

	&__overlay {
		display: none;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		text-transform: uppercase;
		font-size: 2rem;
		font-weight: bold;

		.m-sexMove--redraw:hover & {
			display: flex;
			justify-content: center;
			align-items: center;
			backdrop-filter: blur(2px);
		}
	}

	&__title {
		grid-area: title;
		justify-self: center;

		.m-sexMove--empty > & {
			text-transform: uppercase;
			text-align: center;
		}
	}

	&__type {
		grid-area: type;
		place-self: center;
		text-transform: uppercase;
		padding: 0 0.4rem;
		border: 0.1rem solid currentcolor;

		.m-sexMove--match & {
			background: gold;
			border-color: gold;
		}
	}

	&__description {
		padding: 1rem;
	}

	&__requirements {
		grid-area: requirements;
		text-transform: uppercase;
		justify-self: center;
	}

	&__effects {
		grid-area: effects;
		align-self: center;
		padding: 0;
		margin: 0 10%;

		&__item {
			display: flex;
			justify-content: space-between;
			text-transform: uppercase;

			&__value {
				font-weight: bold;
				padding: 0 0.4rem;
				border-radius: 0.4rem;

				.m-sexMove--match [data-type="crew"] & {
					background: gold;
				}
			}
		}
	}
}