@import '../globals';

.m-sexMove {
	display: grid;
	grid-template-areas:
		'title         '
		'effects       '
		'requirements  ';
	grid-template-rows:
		min-content
		1fr
		min-content;
	gap: 2rem;
	border: 0.2rem solid hotpink;
	border-radius: 0.4rem;
	padding: 0.4rem;
	color: hotpink;
	transition: background-color 0.4s;

	&:hover {
		background: pink;
	}

	&.-empty {
		display: flex;
		border-style: dashed;
		justify-content: center;
		align-items: center;
		color: pink;
		border-color: pink;

		&:hover {
			background: initial;
		}
	}

	&[disabled] {
		color: darkgray;
		background: lightgray;
		border-color: darkgray;
	}

	&__title {
		grid-area: title;
		justify-self: center;

		.-empty > & {
			text-transform: uppercase;
			text-align: center;
		}
	}

	&__requirements {
		grid-area: requirements;
		text-transform: uppercase;
		justify-self: end;
	}

	&__effects {
		grid-area: effects;
		align-self: center;
		padding: 0;
		margin: 0 10%;

		li {
			display: flex;
			justify-content: space-between;
		}
	}
}