@import '../globals';

.m-sexMove {
	display: flex;
	flex-direction: column;
	border: 0.2rem solid hotpink;
	border-radius: 0.4rem;
	padding: 0.4rem;
	color: hotpink;
	transition: background-color 0.4s;

	&:hover {
		background: pink;
	}

	&.-empty {
		border-style: dashed;
		justify-content: center;
		align-items: center;

		&:hover {
			background: initial;
		}
	}

	&[disabled] {
		color: darkgray;
		background: lightgray;
		border-color: darkgray;
	}

	&__title {
		.-empty > & {
			text-transform: uppercase;
			text-align: center;
		}
	}
}