.m-shiftHud {
	position: sticky;
	top: 0;
	display: grid;
	grid-template-areas:
		'day   shift   next   sexergy';
	grid-template-columns:
		1fr
		1fr
		3fr
		1fr;
	gap: 1rem;
	place-items: center;
	background: white;
	color: gray;
	padding: 1rem;

	&__sexergy {
		grid-area: sexergy;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		padding: 0 1rem;
		text-transform: uppercase;

		&__value {
			color: hotpink;
		}
	}

	&__day {
		grid-area: day;
		text-transform: uppercase;
	}

	&__shift {
		grid-area: shift;
	}

	&__next {
		grid-area: next;
		display: grid;
		grid-template-rows:
			min-content
			1rem;
		gap: 1rem;
		place-items: center;
	}
}
