.o-task {
	display: grid;
	grid-template-areas:
		'title     '
		'container '
		'start     '
		'subheader '
		'effects   ';
	grid-template-rows:
		min-content
		1fr
		min-content
		min-content
		4rem;
	gap: 1rem;
	justify-items: center;
	min-height: 13rem;
	padding: 1rem;
	border: 0.2rem solid steelblue;
	border-radius: 0.5rem;

	&.-active {
		border-style: solid;
		border-color: green;
	}

	&.-denied {
		border-style: solid;
		border-color: red;
	}

	[disabled] & {
		border-color: gray;
	}

	&__title {
		grid-area: title;
		text-align: center;
	}

	&__container {
		grid-area: container;
		/* display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows:
			min-content
			1fr;
		grid-template-areas:
			'stamina-title  dice-title  required-title'
			'stamina-value  dice-value  required-value'; */
		display: flex;
		place-content: center;
		width: 100%;
		justify-items: center;
		align-items: center;
		gap: 0.5rem;
		text-transform: uppercase;

		&__stamina-title {
			grid-area: stamina-title;
		}

		&__stamina-value {
			grid-area: stamina-value;
		}

		&__dice-title {
			grid-area: dice-title;
		}

		&__dice-value {
			grid-area: dice-value;
		}

		&__required-title {
			grid-area: required-title;
		}

		&__required-value {
			grid-area: required-value;
		}

		&__stamina-value,
		&__required-value {
			font-size: 1.5rem;
		}
	}

	&__required {
		grid-area: required;
		text-transform: uppercase;
	}

	&__subheader {
		grid-area: subheader;
		text-transform: uppercase;
	}

	&__effects {
		grid-area: effects;
		align-self: flex-start;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		justify-content: center;
		align-items: center;
	}

	&__rewards {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__dice {
		grid-area: dice;
		justify-self: center;
	}

	&__start {
		grid-area: start;
		width: 80%;
	}

	&__carousel {
		grid-area: carousel;
		align-self: center;
	}

	&__difficulty {
		display: flex;
		flex-direction: column;
		text-align: center;
		border: 0.1rem solid lightcoral;
		color: lightcoral;
		text-transform: uppercase;
		font-weight: bold;
		padding: 0.5rem;
	}

	&__stamina {
		display: grid;
		grid-template-columns:
			1fr
			3fr
			1fr;
		align-items: center;
		justify-items: center;

		> button {
			width: 100%;
			height: 100%;
			padding: 0.2rem;
		}
	}
}
