.o-task {
	display: grid;
	grid-template-areas:
		'title     title    '
		'required  dice     '
		'effects   effects  ';
	grid-template-columns:
		1fr
		1fr;
	grid-template-rows:
		min-content
		min-content
		1fr;
	gap: 1rem;
	justify-items: center;
	min-height: 13rem;
	padding: 1rem;
	border: 0.1rem solid goldenrod;
	border-radius: 0.5rem;

	[disabled] & {
		border-color: gray;
	}

	&__title {
		grid-area: title;
		text-align: center;
	}

	&__required {
		grid-area: required;
		text-transform: uppercase;
	}

	&__effects {
		grid-area: effects;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		justify-content: center;
		align-items: center;
	}

	&__rewards {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__dice {
		grid-area: dice;
		justify-self: center;
	}

	&__carousel {
		grid-area: carousel;
		align-self: center;
	}

	&__difficulty {
		display: flex;
		flex-direction: column;
		text-align: center;
		border: 0.1rem solid lightcoral;
		color: lightcoral;
		text-transform: uppercase;
		font-weight: bold;
		padding: 0.5rem;
	}

	&__stamina {
		display: grid;
		grid-template-columns:
			1fr
			3fr
			1fr;
		align-items: center;
		justify-items: center;

		> button {
			width: 100%;
			height: 100%;
			padding: 0.2rem;
		}
	}
}
