.o-task {
	display: grid;
	grid-template-areas:
		'title    title     '
		'effects  character '
		'carousel carousel  ';
	grid-template-rows:
		min-content
		1fr;
	gap: 12px;
	justify-items: center;
	min-height: 240px;
	padding: 12px;
	border: 2px solid goldenrod;
	border-radius: 12px;
}

.o-task__title {
	grid-area: title;
	text-align: center;
}

.o-task__effects {
	grid-area: effects;
	list-style: none;
	margin: 0;
	padding: 0;
}

.o-task__character {
	grid-area: character;
}

.o-task__carousel {
	grid-area: carousel;
}