body {
	margin: 12px;
}

h1, h2, h3, h4 {
	margin: 0;
}

* {
	box-sizing: border-box;
}

.o-cardsList {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
}

.o-characterList {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 12px;
}