* {
	box-sizing: border-box;
}

body {
	margin: 12px;
}

h1, h2, h3, h4 {
	margin: 0;
}

button {
	font-size: 18px;
	text-transform: uppercase;
	padding: 12px;
	border: 2px solid gray;
}

button:disabled {
	border-color: transparent;
	background: darkgray;
	color: gray;
}

.o-app {
	display: grid;
	grid-template-areas:
		'hud     hud         '
		'tasks   characters  ';
	grid-template-columns: 3fr 200px;
	align-items: center;
	gap: 24px;
}

.o-app__tasks {
	grid-area: tasks;
}

.o-app__characters {
	grid-area: characters;
}

.o-app__hud {
	grid-area: hud;
}

.m-tasksList {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 12px;
}

.o-characterList {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.a-explain {
	text-transform: uppercase;
	color: gray;
}
