* {
	box-sizing: border-box;
}

body {
	margin: 12px;
}

h1, h2, h3, h4 {
	margin: 0;
}

button {
	font-size: 18px;
	text-transform: uppercase;
	padding: 12px;
	border: 2px solid gray;
}

button:disabled {
	border-color: transparent;
	color: lightgray;
}

#root {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.o-cardsList {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 12px;
}

.o-characterList {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 12px;
}