* {
	box-sizing: border-box;
	user-select: none;
}

body {
	padding: 0 1rem;
}

h1, h2, h3, h4, p {
	margin: 0;
}

button {
	font-size: 1rem;
	text-transform: uppercase;
	padding: 0.5rem;
	border: 0.1rem solid gray;

	&:disabled {
		border-color: transparent;
		background: darkgray;
		color: gray;
	}
}

.o-app {
	display: grid;
	grid-template-rows:
		min-content
		1fr;
	gap: 1rem;
	max-width: 80rem;
	min-height: calc(100vh - 2rem);
	margin: 0 auto;
}
