* {
	box-sizing: border-box;
}

body {
	padding: 0.5rem;
}

h1, h2, h3, h4, p {
	margin: 0;
}

button {
	font-size: 1rem;
	text-transform: uppercase;
	padding: 0.5rem;
	border: 0.1rem solid gray;
}

button:disabled {
	border-color: transparent;
	background: darkgray;
	color: gray;
}

.o-app {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
